
.nav_img{
    width: 160px;
}

/* section 1 start here */

.sec1{
    background-image: url(../images/banner_img.jpg);
    background-repeat: no-repeat;
	height: 70%;
}


.sec1_1{
	padding-top: 4em;
	padding-bottom:4em ;
    color: white;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

/* section 1 end here */


/* section 2 start here */
	.sec2{
		background-color:  white;
		color: #053A1C;
	}

	.sec2_1{
		margin-top: 3em;
	}

	.sec2_h1{
		font-size: 30px;
	}

	.sec2_ul{
		font-size:23px;
		color:#827B5A;
		font-weight: bold;
	}

	.sec_img{
		width: 350px;
		margin-top: 30px;
		border-radius: 30px;
		margin-bottom: 30px;
	}


/* section 2 end here */

/* section 3 start here */
	.sec3{
		padding-top: 2em;
		background-color:  white;
		color: #053A1C;	
		}

	.sec3_1{
			margin-top: 2em;
		}

	.sec3_h1{
			text-align: right;
			font-size: 30px;
		
		}

	.sec3_ul{
			text-align: right;
			
			font-size:23px;
			color:#827B5A;
			font-weight: bold;
		}

/* section 3 end here */



/* section 5 start here */
.sec5{
    background-image: url('../images/more_bg.jpg');
    color: white;
    padding-top: 4em;
}

.sec5-btn{
    background-color: #053A1C;
}

.sec5_input{
    width: 35em;
    border-radius: 5px;
    margin-top: 10px;
    height: 3em;
}

.sec5_textarea{
    margin-top: 3em;
    width: 35em;
    height: 10em;
    margin-bottom: 2em;
}




/* section 5 end here */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {

    .sec5_1{
        text-align:center;
    }

    .sec5_h3_1{
        font-size:1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .sec5_input{
        width: 90%;
        border-radius: 5px;
        margin-top: 10px;
        height: 3em;

    }

    .sec5_textarea{
        margin-top: 3em;
        width: 90%;
        height: 10em;
        margin-bottom: 2em;
    }
    .sec5_form{
        padding-left: 2em;
    }

    .sec5_submit{
        margin-left:35%;
    }

    /* .sec5_form_p1{
        margin-top: 4em;
        text-align:center;
    }
    .sec5_form_p2{
        text-align: center;
    } */
	}
	
	.sec5_input{
        width: 90%;
        border-radius: 5px;
        margin-top: 10px;
        height: 3em;

	}
	
	.sec5_textarea{
        margin-top: 3em;
        width: 90%;
        height: 10em;
        margin-bottom: 2em;
	}
	
	.sec5_submit{
        margin-left:35%;
    }


@media only screen and (max-width: 600px) {

	.nav_img{
        width: 90px;
    }

    .sec_img{
      width: 250px;
      margin-top: 30px;
      border-radius: 30px;
      margin-bottom: 30px;
      margin-left: 40px;
    }

    .sec1_1{
        padding-top: 4em;
        color: #053A1C;
        font-weight: bolder;
        font-style: oblique;
        font-size: 30px;
        text-align: center;
	}
	
.sec2_h1{
		font-size: 1px;
	}

	.sec5_h3_1{
		font-size:1em;
		margin-top: 1em;
		margin-bottom: 1em;
	}


	.sec5_form_p1{
		margin-top: 4em;
	}

	.sec5_submit{
    margin-left:35%;
}


}