
{%  extends "nav.html"  %}
{% block content %}
{% load static %}

<!-- section one start here -->

<section class="sec1">
	<div class="container">

		<h2 class="sec1_1">کے ساتھ کاشت کاری، ہوشیاری کے ساتھ۔   KITOVU</h2>
	</div>
</section>

<!-- section one end here -->

<section class="sec2">
	<div class="container">
		<div class="row">
			<div class="col-md-7 sec2_1">
				<h3 class=" sec2_h1 animate__animated  animate__fadeInLeft "> اپنے کھاد کے اخراجات پر 30 فیصد تک بچت کریں</h3>

					<ul class='sec2_ul' >
						<li >  ۱۔ اپنے کھیتوں میں صرف ضروری کھاد کی نشاندہی کریں </li>
						<li>۲۔ ضرورت پر مبنی کھاد اور پانی کے استعمال کی شرح کے نسخے حاصل کریں</li>
						<li>۳۔ اپنی پیداوار بڑھایں</li>
					</ul>




			</div>

			<div class="col-md-5">
				<img src="{%static 'images/saving.jpg' %}" alt="check me out" class="sec_img">
			</div>

		</div>

	</div>

</section>

{%  endblock %}
