Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, expedita. Totam debitis nobis veniam nulla quasi velit saepe dolores veritatis quod, ex voluptates dolore, vero fugit obcaecati cupiditate rem tempore.
<form action="" method="POST">{% csrf_token %}
    {{form.as_p}} 
    <input type="submit" value="submit">   
</form>

{{bad}}

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates at corrupti iure perferendis tenetur quae atque, soluta quam mollitia, totam ea, non cumque modi obcaecati in a quia sunt beatae.
